#dashboard{
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/bg/pattern.jpg');
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
